.loginContainer {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.emailInput {
    width: 700px;
    height: 50px;
}

.loginButton {
    margin: 10px;
    width: 100px;
    height: 30px;
}

::ng-deep .mat-form-field-empty.mat-form-field-label {
    color: black !important; 
}

::ng-deep.mat-form-field-underline {
    /*change color of underline*/
    background-color: black !important;
  } 
