<ng-container *ngIf="this.allPosts">
    <mat-tab-group mat-align-tabs="center">
        <mat-tab label="User posts">
            <div class="postContainer">
                <app-user-post [posts]="this.ownUserPosts"></app-user-post>
            </div>
        </mat-tab>
        <mat-tab label="Other posts">
            <div class="postContainer"> 
                <app-other-post [posts]="this.otherUserPosts"></app-other-post>
            </div>
        </mat-tab>
    </mat-tab-group>
</ng-container>