::ng-deep .mat-tab-label {
    height: 10vh !important;
    width: 50% !important;
    color: black;
    font-weight: 700;
}

::ng-deep .mat-tab-label.mat-tab-label-active {
    color: Black;
    font-weight: 700;
}

::ng-deep .mat-ink-bar {
    background-color: gray !important;
}

::ng-deep .mat-tab-body-content
{ 
    height: 70vh !important;
}

.postContainer {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}